{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


{# <div class="example-wrapper">
    <h1>Hello ! create Category ✅</h1>
    {{form(category_form) }}
</div> #}
    <div class="container">
        <div class="row">
        <div class = "col-6">
           <h2 class="text-center mt-3">Add New Product</h2>
            {{ form(category_form) }}
        </div>
        </div>
    </div>



{% endblock %}
