{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h2 class = "text-center my-4">List of Categories</h2>

    <div class ="row">
        <div class = "col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Action</th>
                
                </tr>
            </thead>
            <tbody>
                {% for row in categories %}
                    
                <tr>
                    <th scope="row">{{ row.id }}</th>
                    <td>{{ row.name }}</td>
                    <td>
                        <a href="{{ path('edit_category', {'id': row.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('delete_category', {'id': row.id}) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
