{% extends 'base.html.twig' %}

   
    
    {% block body %}
    <div class="container">
        <div class="row">
           <h2 class="text-center mt-3">Add New Product</h2>
        {{ form(product_form) }}
        </div>
    </div>
        
        
    {% endblock %}